.center { 
border-radius: 100px;
text-align: center;
background-color: rgb(255, 0, 0);
}
.left{
    padding-left: 400px;
    background-color:rgb(122, 115, 153) ;
}
img {
margin-left: 450px;
height: 200px;
width: 200px;
border-radius: 100px;
}
.container
{
    background-color: black;
}
